footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #000000;
  padding: 1vw;
  font-size: small;
}

.colonne {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

a {
  color: #fff;
  text-decoration: none;
}

.icon {
  width: 5vw;
 
}

.logo2 {
  position: relative;
}

.logo2 img {
  position:absolute;
  top: 2vw;
  left: 0.5vw;
  width: 15vw;
  height: 15vw;
  border-radius: 1vw;
}

p {
  color: #fff;
  font-size: x-small;
}