footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #000000;
  padding: 0.5vw;
}

.colonne, .colonne8 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 10vw;
  font-size: medium;
}


a {
  color: #fff;
  text-decoration: none;
}

.icon {
  width: 4vw;
}

.logo2 {
  position: relative;
}

.logo2 img {
  position: absolute;
  top: 1vw;
  left: 0.5vw;
  width: 15vw;
  height: 15vw;
  border-radius: 1vw;
}

p {
  color: #fff;
  font-size: x-small;
  margin-top: 7vw;
}

@media (max-width: 768px) {
  footer {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .colonne {
  font-size: small;
  }

  .logo2 img {
    width: 25vw;
    height: 25vw;
  }

  p {
    margin-top: 3vw;
    font-size: small;

  }

  .colonne8, p {
    display: none;

}

.icon {
  width: 6vw;
}


}