footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #000000;
  padding: 1vw;
  font-size: small;
}

.colonne {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

a {
  color: #fff;
  text-decoration: none;
}

.icon {
  width: 2vw;
  height: 2vw;
}