body {
    font-family: Arial, sans-serif;
   
}
    

nav {
    display: flex;
    flex-direction: row;
    background-color: #000000;
    padding: 1vw;
}

h1 {
    font-size: medium;

}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 2vw;
    margin: 0.5vw;

}

.search-form {
    width: 50vw;
    padding: 0.5vw;
    
}

.navbar2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #960000;
    padding: 3vw;
    
}

#carousel-section {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    width: 100%;
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%; /* Assure que toutes les images s'affichent dans le carrousel */
  }
  
  .carousel-item {
    min-width: 100%;
    height: 50vw; /* Ajuste la hauteur en fonction de la largeur de l'écran */
    overflow: hidden; /* Cache les débordements de l'image */
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Permet à l'image de couvrir tout le conteneur sans déformation */
  }
  
  .carousel-indicators {
    position: absolute;
    bottom: 1vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .indicator {
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 0.5vw;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .indicator.active {
    background-color: rgba(255, 255, 255, 1);
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.8s ease-in-out;
  }

.les_mieux_notés {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #960000;
    padding: 3vw;
}

.film_img  {
    width: 20vw;
    height: auto;
}

.film {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}

  