body {
   font-family: Arial, sans-serif;
   height: 100vh;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   width: 100vw;
   background-color: rgb(158, 0, 0);
}
    


#carousel-section {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel {
    margin-top: 5vw;
    display: flex;
    
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%; /* Assure que toutes les images s'affichent dans le carrousel */
  }
  
  .carousel-item {
    min-width: 100%;
    height: 50vw; /* Ajuste la hauteur en fonction de la largeur de l'écran */
    overflow: hidden; /* Cache les débordements de l'image */
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Permet à l'image de couvrir tout le conteneur sans déformation */
  }
  
  .carousel-indicators {
    position: absolute;
    bottom: 1vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .indicator {
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 0.5vw;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .indicator.active {
    background-color: rgba(255, 255, 255, 1);
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.8s ease-in-out;
  }

.les_mieux_notés {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    padding: 2vw;
    position: relative;
    overflow-x: hidden;
    background-color: #00000036;
 

h1 {
    color: #fff;
    font-size: x-large;
}
.film {
    flex: 0 0 20%;
    width: auto;
    height: fit-content;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
   
   
}

.film:hover {

    transform: translateY(-0.5vw);
    box-shadow: 0 0 1.5vw rgb(255, 255, 255);
}

.film_img {
    width: 100%;
    height: 100%;
    margin-bottom: 0.5vw;
 
}


.films {
    display: flex;
    flex-wrap: nowrap;
    gap: 1vw;
    justify-content: center;
    font-size: 1vw;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}




/* Boutons pour faire défiler le carousel */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2vw;
    cursor: pointer;
    padding: 1vw;
    z-index: 1;
}

.left-btn {
    left: 0;
}

.right-btn {
    right: 0;
}

.rating {
    background-color: #fff;
    padding: 1vw;
    border-radius: 10vw;
    border: solid;
    position: absolute ;
    z-index: 20;
    top: 0.5vw;
  right: 1vw;
    
}



.carousel2 {
  display: flex;
  flex-direction: row; 
  overflow-x: auto; 
  gap: 20px; 
  padding: 20px;
  background-color: black;
}
}