
nav {
    display: flex;
    flex-direction: row;
    background-color: #000000;
    padding: 1vw;
}

h1 {
    font-size: medium;

}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 2vw;
    margin: 0.5vw;

}

.search-form {
    width: 50vw;
    padding: 0.5vw;
    
}

.navbar2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #b9b5b5;
    padding: 3vw;
    
}