
nav {
    display: flex;
    flex-direction: row;
    background-color: #000000;
    padding: 1vw;
}

h1 {
    font-size: medium;

}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 2vw;
    margin: 0.5vw;


}

.search-form {
    width: 50vw;
    padding: 0.5vw;
    
}

.navbar2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #b9b5b5;
    padding: 3vw;
    
}

.profil_icon {
    width: 5vw;
    margin-left: 20vw;
}

.logo {
    width: 10vw;
    height: 10vw;
    border-radius: 1vw;
}

input {
    border: solid 1px #0c0000;
    border-radius: 1vw;
    width: 30vw;
    padding: 1vw;
}

#results-container {
    display: grid; /* Utilisation de la grille */
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes */
    gap: 20px; /* Espacement entre les éléments */
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; /* Centrer horizontalement */
}

